*, :after, :before{
    box-sizing: border-box;
    }
    

html{
    --res: calc(0.01 * 10vmin)
}
body{
    background-color: black;
    padding:10rem;
}
.hero{
    display:flex;
}
.hero_title{
color: #FFF;
font-family: 'Roboto', sans-serif;
font-size: calc(64 * var(--res));
font-style: normal;
font-weight: 700;
line-height: normal;
}
.hero_text {
color: #FFF;
font-family: 'Roboto', sans-serif;
font-size: calc(18 * var(--res));
font-style: normal;
font-weight: 700;
line-height: normal;

}
.herobutton{
background-color: black;
border: solid 2px white;
width: 10vw;
height: 5vh;
flex-shrink: 0;
color: #FFF;
font-family: 'Roboto', sans-serif;
font-size: calc(18 * var(--res));
font-style: normal;
font-weight: 700;
line-height: normal;
}
.rectangle {
    width: 50vw;
    height:60vh;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(141, 141, 141, 0.18); 
    padding: 2vw;
}